charset-normalizer==3.4.3
django-stubs==5.2.5
django-stubs-ext==5.2.5
djangorestframework-stubs==3.16.3
idna==3.10
mypy==1.18.2
mypy_extensions==1.1.0
pathspec==0.12.1
requests==2.32.5
ruff==0.13.1
toml-sort==0.24.3
tomlkit==0.13.3
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing_extensions==4.15.0
urllib3==2.5.0
